/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

._styles__CircularProgressbar__27rVl {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
  width: 100%;
  /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
  vertical-align: middle;
}

._styles__CircularProgressbar__27rVl ._styles__CircularProgressbar-path__VIn-J {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

._styles__CircularProgressbar__27rVl ._styles__CircularProgressbar-trail__M1tcz {
  stroke: #d6d6d6;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
}

._styles__CircularProgressbar__27rVl ._styles__CircularProgressbar-text__2zhBV {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

._styles__CircularProgressbar__27rVl ._styles__CircularProgressbar-background__P7wIJ {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
._styles__CircularProgressbar__27rVl._styles__CircularProgressbar-inverted__g1bbe ._styles__CircularProgressbar-background__P7wIJ {
  fill: #3e98c7;
}

._styles__CircularProgressbar__27rVl._styles__CircularProgressbar-inverted__g1bbe ._styles__CircularProgressbar-text__2zhBV {
  fill: #fff;
}

._styles__CircularProgressbar__27rVl._styles__CircularProgressbar-inverted__g1bbe ._styles__CircularProgressbar-path__VIn-J {
  stroke: #fff;
}

._styles__CircularProgressbar__27rVl._styles__CircularProgressbar-inverted__g1bbe ._styles__CircularProgressbar-trail__M1tcz {
  stroke: transparent;
}
